body {
	padding-bottom: 50px;
}

.dashboard-item i {
	font-size: 128px;
}

.dashboard-link,.dashboard-link:hover {
	text-decoration: none;
}

.form-panel {
	width: 50%;
	margin: auto;
}

.btn-back i {
	font-size: 50px;
}

.break-column{
	word-wrap: break-word;
	max-width: 200px;
}

.buttom-column {
	width: 32px;	
}